.tag {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #ff0000;
    color: #fff;
  }
}
