.container {
  margin-bottom: 20px;
}

.button {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #888888;

  &:hover {
    color: #111111;
  }
}
