.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.toolbarButton {
  display: inline-block;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.container {
  margin-bottom: 20px;
}

.image {
  background: #f7f7f7;
  margin-bottom: 20px;
  height: 0;
}

.data {
}

.caption {
  composes: input from '../../css/Global.css';
  margin-bottom: 20px;
}

.tagsAutocomplete {
}

.tags {
  background: #f7f7f7;
  min-height: 3em;
  padding: 10px;
  padding-bottom: 0;
}

.buttonSave {
  margin-bottom: 10px;
}
