.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.toolbarButton {
  display: inline-block;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.addFiles {
  position: relative;
}

.addInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.addButton {
  composes: button_light from '../../components/Button/Button.css';
  padding: 12px 20px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.errorText {
  margin: 10px 0 0;
  color: #ff0000;
}

.previews {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.previewContainer {
  width: 100%;

  & + & {
    margin-top: 30px;
  }
}

.preview {
}

.previewName {
  margin: 0 0 10px;
}

.previewImage {
  margin-bottom: 20px;
}

.previewData {
}

.previewCaption {
  composes: input from '../../GlobalStyle.css';
  margin-bottom: 20px;
}

.previewTags {
  background: #f7f7f7;
  min-height: 3em;
  padding: 10px;
  padding-bottom: 0;
}
