.autocomplete {
  position: relative;
}

.autocompleteInput {
  composes: input from '../../GlobalStyle.css';
}

.autocompleteList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eeeeee;
  /*border-top: none;*/
  background: #f7f7f7;
  list-style: none;

  /*&:before {
    content: '';
    position: absolute;
    top: -1em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border: 0.5em solid transparent;
    border-bottom-color: #fff;
  }*/
}

.listItem {
  padding: 10px 15px;
}

.listItem_active {
  composes: listItem;
  background: #111;
  color: #fff;
}
