.button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  border: none;
  background-color: #000000;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 0;
  font-size: 1em;
  line-height: normal;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #333333;
    border-color: #333333;
  }
}

.button_disabled {
  composes: button;
  pointer-events: none;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  color: #cccccc;
}

.button_light {
  composes: button;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  color: #000000;

  &:hover {
    background: #eeeeee;
  }
}

.button_error {
  composes: button;
  pointer-events: none;
  background-color: #ff0000;
}

.button_danger {
  composes: button;
  background-color: transparent;
  background-color: #ff0000;
}

.button_loading {
  composes: button;
  pointer-events: none;
  background: linear-gradient(to right, #f7f7f7 33%, #e2e2e2 66%, #f7f7f7 100%) repeat;
  background-size: 400% 400%;
  color: #888888;
  animation: GradientLoading 3s linear infinite;
}

@-webkit-keyframes GradientLoading {
    0% {
      background-position: 400% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
}
