*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body {
  background: #ffffff;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #111111;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #111111;

  &:hover {
    text-decoration: underline;
  }
}

.input {
  width: 100%;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
  padding: 10px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #f7f7f7;
  background: #f7f7f7;
  resize: none;
  outline: none;

  &:hover, &:focus {
    border-color: #eeeeee;
  }
}
