.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &:after {
    content: '';
    display: block;
    width: calc(33.333% - (40px * 2 / 3));
  }
}

.gridItem {
  /* (100% / columns) - ((gutter * (columns - 1)) / columns ) */
  width: calc((100% / 2) - (20px * 1 / 2));
  margin-bottom: 20px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.toolbarButton {
  display: inline-block;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
}
