.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 40px;
  margin: 40px;
  max-width: 320px;
  text-align: center;
  box-shadow: 0 20px 200px rgba(0,0,0,0.05), 0 10px 30px rgba(0,0,0,0.05);
}

.input {
  composes: input from '../../GlobalStyle.css';
  margin-bottom: 20px;
}
